/* shared Styles */
.btn_panda{
    border-radius: 6px;
    color: white;
    border: none;
}
.container_1{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_2{
    margin: 0 auto;
    max-width: 1215px;
    background-color: #FEEAE9;
    border-radius: 20px;
    display: flex;
}
.btn_catagories{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    justify-content: space-between;
    flex: 1;
}
.catagories_itm{
    font-size: 36px;
}
.catagories_img{
    height: 90px;
    width: 70px;
}
/* start nav menu */
.menu_container{
    gap: 56px;
    padding: 20px 0;
}
.search_parent input{
    padding: 15px 300px 15px 10px;
    border-radius: 30px;
    border: none;
    background-color: #F1F1F1;
    position: relative;
}
.search_parent i{
    position: absolute;
    top: 40px;
    right: 780px;
    color: #BABABA;
}
.nav_menu{
    display: flex;
    gap: 24px;
}
.nav_menu li{
    list-style: none;
}
.nav_menu li a{
    text-decoration: none;
    color: #707070;
}
/* start banner */
.banner-container{
    padding: 30px 0px 0px 40px;
    justify-content: space-between;
}
.banner_content{
    width: 570px;
    height: 320px;
}
.banner_content h1{
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 0px;
}
.banner_content p{
    width: 435px;
    color: #4E4E4E;
    margin-top: 0px;
}
.panda_price{
    color: #FF136F;
    font-size: 41px;
    font-weight: bold;
}
.panda_buy_btn{
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
    font-size: 24px;
    padding: 20px 30px;
    margin-top: 20px;
}
/* start categories styles */
.catagories_container{
    gap: 25px;
    margin-top: 50px;
}
.btn_catagories:nth-child(1){
    background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
}
.btn_catagories:nth-child(2){
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
}
.btn_catagories:nth-child(3){
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
}



