*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
}
/* shared Styles */
.btn_panda{
    border-radius: 6px;
    color: white;
    border: none;
}
.buy_now_btn{
    border-radius: 6px;
    color: white;
    border: none;
    background-color: #000000;
    padding: 20px 40px;
    margin-top: 15px;
}
.container_1{
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.container_2{
    margin: 0 auto;
    max-width: 1215px;
    background-color: #FEEAE9;
    border-radius: 10px;
}
.catagories_title{
    padding-top: 50px;
    font-weight: bold;
    font-size: 36px;
    color: #1F1F1F;
}
.btn_catagories{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    justify-content: space-between;
    flex: 1;
}
.catagories_itm{
    font-size: 36px;
}
.catagories_img{
    height: 90px;
    width: 70px;
}
.product_card{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.product_name{
    font-size: 30px;
    color: #1F1F1F;
}
.shoe_img{
    width: 330px;
    height: 200px;
}
.bag_img{
    width: 330px;
    height: 300px;
}
.product_price{
    font-size: 24px;
    font-weight: bold;
    color: #1F1F1F;
}
/* start nav menu */
.menu_container{
    display: flex;
    gap: 56px;
    padding: 20px 0px;
}
.input_search{
    padding: 15px 300px 15px 10px;
    border-radius: 30px;
    border: none;
    background-color: #F1F1F1;
}
.search_parent{
    position: relative;
}
.fa{
    position: absolute;
    top: 13px;
    right:17px;
    color: #BABABA;
}
.nav_menu{
    display: flex;
    gap: 24px;
}
.product_list{
    position: relative;
}
.dropdown_nav_items{
    position: absolute;
    top: 30%;
    background: #F4F4F4;
    width: 90px;
    list-style: none;
    margin: 0 auto;
    padding: 5px 5px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    visibility: hidden;
    transition: 0.5s;
}
.dropdown_nav_items li{
    padding: 10px 0px;
}
.dropdown_nav_items li a{
    padding: 5px;
    background-color: #FEEAE9;
}
.product_list:hover .dropdown_nav_items{
    visibility: visible;
    top: 100%;
    transition: 0.5s;
}
.nav_menu li{
    list-style: none;
}
.nav_menu li a{
    text-decoration: none;
    color: #707070;
}
/* start banner */
.banner-container{
    display: flex;
    padding: 30px 20px 0px 40px;
    justify-content: space-between;
    border-radius: 10px;
}
.banner_content{
    width: 570px;
    height: 320px;
}
.banner_content h1{
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 0px;
}
.banner_content p{
    width: 435px;
    color: #4E4E4E;
    margin-top: 0px;
}
.panda_price{
    color: #FF136F;
    font-size: 41px;
    font-weight: bold;
}
.panda_buy_btn{
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
    font-size: 24px;
    padding: 20px 30px;
    margin-top: 20px;
}
/* start categories styles */
.catagories_container{
    display: flex;
    gap: 25px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.btn_catagories:nth-child(1){
    background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
}
.btn_catagories:nth-child(2){
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
}
.btn_catagories:nth-child(3){
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
}
/* Start product catagory */
.products_catagory_container{
    max-width: 2000px;
    background-color: #F4F4F4;
    margin: 0 auto;
    padding-bottom: 50px;
}
.product_parent{
    display: flex;
    gap: 20px;
    padding-top: 30px;
}
/* Start footer part */
.footer_container{
    background-color: #FFF2F1;
    text-align: center;
    padding:50px;
    margin-top: 50px;
}
.footer_input{
    padding: 10px 350px 10px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    color: #FF136F;
}
.footer_btn{
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
    padding: 10px 20px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    color: white;
    max-height: 460px;
}
.footer_container h2{
    font-size: 36px;
    color: #1F1F1F;
}
.footer_container p{
    color: #707070;
}
.contact_input_parent{
    display: flex;
    justify-content: center;
}



